@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
.navbar-class{
    width: 97.3933%;
    height: 40px;
    text-align: center;
    padding: 20px;
    color: #059212;
    background-color: #9BEC00;
    font-family: "Playwrite NG Modern", cursive;
    font-size: 1.5rem;
    font-weight: 400;
}