@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+NG+Modern:wght@100..400&display=swap');
.parent-div-info{
  width: 100%;
  height: 100vh;
  background-color: #F3FF90;
  text-align: center;
  padding-top:10px
}

.parent-div-info h1{
  margin: 0;
}

.greeting-info{
  font-family: "Lato", sans-serif;
  color: #059212;
  font-size: 1.6rem;
}

.steps-info{
  margin: auto;
  font-family: "Lato", sans-serif;
  color: #059212;
  width: 60%;
  font-size: 1.3rem;
  margin-top:10px;
  margin-bottom: 20px;
}

.input-boxes-info input{
  text-align: center;
  width:12%;
  padding: 5px 10px;
  margin-right:40px;
  border-radius: 2rem;
  border:4px solid #059212;
  background-color: #9BEC00;
  color: #F3FF90;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.input-boxes-info input:focus{
  outline: none;
}

.input-boxes-info input::placeholder{
  font-size: 1.2rem;
  font-weight: 400;
  color: #059212;
  opacity: 0.6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#amt{
  width:8%
}

#Add{
  font-family: "Lato" ;
  margin-top: 20px;
  text-align: center;
  padding:7px 15px;
  background-color: #059212;
  border-radius: 0.5rem;
  border: 0;
  color:#F3FF90 ;
  font-weight: 700;
  transition: 0.5s;
}

#Add:hover{
  scale: 1.1;
  box-shadow:0px 5px 7px #9BEC00;
}

#Add:active{
  scale: 1;
  box-shadow: none;
  opacity: 0.2; 
}

#third-input{
  margin-right: 0;
}

.invalid-box-info{
  background-color: #ff0033;
  color: aliceblue;
  width:7%;
  padding: 14px 3px;
  margin: auto;
  margin-top: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 1rem;
}


.transaction-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
  margin-top: 20px;
  gap:20px;
  font-family: 'Lato';
  color: #047d10;
  font-weight: 700;
}

